<section>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-10">
				<div id="spent-logo-initial" spent-logo-initial-position class="text-center spent-logo-initial" ng-switch="isPhone">
					<div ng-switch-when=true>
						<img src="images/spent-logo-small.png"/>
					</div>
					<div ng-switch-when=false>
						<img src="images/spent-logo.png"/>
					</div>
				</div><br/>
				<div class="text-center challenge-prompt">Urban Ministries of Durham serves<br/>over 6,000 people every year.<br/>But you'd never need help, right?</div><br/><br/>
				<div class="option-prompt">PROVE IT</div>
				<div  class="option-button"><a ng-click="beginGame()" class="btn btn-default btn-success btn-lg">ACCEPT THE CHALLENGE</a></div>
			</div>
			<div class="col-xs-1"></div>
		</div>
	</div>
</section>
