<div warn-no-phone-landscape id="no-phone-landscape" class="no-phone-landscape alert alert-info" ng-show="isPhone && isLandscape">
  <span class="device-unsupported-warning">SPENT requires your phone to be<br/> in portrait orientation to work.</span>
</div>
<div id="viewport" viewport ng-hide="isPhone && isLandscape" class="section main">
  <div class="container-fluid">
    <div main-panel-row-maximize-height class="row main-panel-row">
      <div class="main-panel">
        <div class="row">
          <div id="challenge-options-results" challenge-panel-init class="challenge-option-results display-visible" ng-include="'views/partials/singleChallenge.html'"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="display-hidden" id="controls-and-badges">
    <div id="bank-balance-readout" ng-controller='PlayerController' bank-balance-readout class="bank-balance">
    <span class="readout-label balance">BALANCE</span><hr class="balance-separator">
      <span class="balance-amount" ng-bind="currentBalanceDisplay">$NaN</span>
    </div>
    <div id="day-number-readout" day-number-readout class="day-of-month">
      <span class="day">DAY</span><hr class="day-separator">
      <span class="current-game-day" ng-bind="currentGameDay">01</span><hr id="readout-date-red-solid" class="readout-date-red-solid">
    </div>
    <div id="exit-control" exit-control-position class="exit"><p>I CAN'T</p><p>DO THIS</p><img id="exit-control-image" src="images/exit.png"/></div>
    <div id="job-strikes-control" job-strikes-control-position class="job-strikes" ng-include="'views/partials/jobStrikes.html'"></div>
    <div id="rescue-control" rescue-control-position class="rescues" ng-include="'views/partials/rescueList.html'"></div>
    <div id="sound-control" sound-control-position ng-click="toggleSound()" class="sound" ng-switch="state._isSoundOn">
      <div ng-switch-when=true>
        <img src="images/sound.png"/>
      </div>
      <div ng-switch-when=false>
        <img src="images/sound-off.png"/>
      </div>
    </div>
    <div id="days-list-container" day-list-right-edge class="days" ng-include="'views/partials/dayList.html'"></div>
    <div id="spent-logo-image" spent-logo-position class="spent-logo-image" ng-switch="isPhone">
      <div ng-switch-when=true>
        <img src="images/spent-logo-small.png"/>
      </div>
      <div ng-switch-when=false>
        <img src="images/spent-logo.png"/>
      </div>
    </div>
    <div id="can-u-make-it" can-you-make-it-label-position class="can-u-make-it"><span>CAN YOU MAKE IT<br/>THROUGH THE MONTH?</span></div>
    <div id="day-one-badge" day-one-badge-position class="day-one-badge"><img src="images/day-01.png"/></div>
    <div id="phone-menu-icon" phone-menu-icon-position ng-switch="phoneMenuVisible" class="phone-menu">
      <div ng-switch-when=false>
        <img data="menu-on-icon" ng-click="togglePhoneMenu($event)" class="phone-menu-icon" src="images/menu.png"/>
      </div>
      <div ng-switch-when=true>
        <img data="menu-off-icon" ng-click="togglePhoneMenu($event)" src="images/menu-close.png"/>
      </div>
    </div>
    <div id="debug-panel" ng-show="debugMode" class="debug alert alert-danger">isPhone: {{isPhone}} - isTablet: {{isTablet}} - isDesktop: {{isDesktop}}<br/>
      currBnkBal: {{state._currentBankBalance}} <input type="number" name="input" ng-model="state._currentBankBalance"
                   min="0" max="1000" required>
                   <button ng-click="debitAccount(1)" ng-disabled="state._currentBankBalance <= 0">-</button>
                   <button ng-click="creditAccount(1)" ng-disabled="state._currentBankBalance >= 1000">+</button>
                   <br/>
      currDayIdx: {{state._currentDayIndex}} <input type="number" name="input" ng-model="state._currentDayIndex"
                   min="0" max="30" required>
                   <button ng-click="prevDay()" ng-disabled="state._currentDayIndex <= 0">-</button>
                   <button ng-click="nextDay()" ng-disabled="state._currentDayIndex >= 30">+</button>
                   <br/>
      debugMode: {{debugMode}} <input ng-keypress="toggleDebugMode()" type="checkbox" ng-model="debugMode" ng-click="toggleDebugMode()"> (D key to return to debugmode)<br/>
      viewport H {{viewportHeight}} by W {{viewportWidth}}
    </div>
    <div id="menu-bar" menu-bottom-edge class="container-fluid menu">
      <nav class="menu-sub-div navbar navbar-default" role="navigation">
      <div class="menu-container container-fluid">
        <div id="phone-menu-div" pure-phone-menu class="collapse navbar-collapse phone-menu-div navbar-collapse-bs3-override">
          <ul class="nav navbar-nav navbar-bs3-override">
            <li class="menu-item"><a href="http://mckinney.com">MADE BY MCKINNEY  </a></li>
            <li class="menu-item"><a href="http://mckinney.com">PRIVACY</a></li>
            <li class="menu-item"><a href="http://mckinney.com">CONTACT US</a></li>
            <li class="menu-item"><a href="http://mckinney.com">ABOUT</a></li>
            <li class="menu-item"><a href="http://mckinney.com">DONATE</a></li>
            <li class="menu-item"><a href="http://mckinney.com">SOURCES</a></li>
          </ul>
        </div>
      </div>
      </nav>
    </div>
  </div>
  <div id="side-borders-translucent" class="side-borders-translucent display-hidden" ng-controller="CanvasController">
    <canvas class="canvas" width="2048" height="1300" id="menuCanvas"></canvas>
  </div>
  <div class="rings" ng-controller="CanvasController">
    <canvas class="canvas" width="2048" height="1300" id="ringCanvas"></canvas>
  </div>
  <div id="spent-background" spent-background class="spent-background">
    <img id="spent-background-image" src="images/spent-bg.jpg"/>
  </div>
  <directivecontrolreference directive-control="mainControllerReference"></directivecontrolreference> <!-- hidden element provides a connection b/w controller and directive -->
</div>